body {
    margin: 0;
    padding: 0;
}

.footer, .header {
    background-color: #35424A;
    width: 100%;
    display: inline-block;
    border-bottom: #e8491d 3px solid;
    font-weight: bold;
    color: white;
}

/*.left {
    background-color: lightcoral;
    height: 100%;
    float: left;
}*/

/*#Menu_Achievers {
    background-color: royalblue;
    height: 100%;
    height: 100%;
    display: block;
    float : left;
    padding-top : 20px;*/
